<?xml version="1.0" encoding="UTF-8"?>

<configuration >

	
     
	

	<include resource="logback/defaults.xml" />
	<include resource="logback/console-appender.xml" />
	<include resource="logback/file-appender.xml" />
	
	<!-- <logger name="com.ab.migration.firebaseIdToken" level="DEBUG">
        <appender-ref ref="SAMPLES" />
    </logger>
    
    <logger name="com.ab.migration.handler" level="DEBUG">
        <appender-ref ref="SAMPLE2" />
    </logger> -->
	
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>